#modal {
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background-color: rgba(22,22,22,0.5);
}
#modal-context{
    background-color: black;
    color: white;
}
.exampleLine1 {
    position: relative;
    margin: 0 auto;
    top: 25%;
}
